body{
    background-color: rgb(245, 211, 177);
}
#cabecera{
    background-color: crimson;
}
#navegacion{
    background-color: aliceblue;
}
#contenido{
    background-color: greenyellow;
}
#pie{
    background-color: indigo;
}